body {
    padding: 20px 0 0;
    background: #fafafa;
    position: relative;
}

.header-card.mdl-card{

    /* width: 512px; */
    margin: 12px auto;
}

.history-card.mdl-card {
    height: 500px;
    overflow-y: scroll;
}

.header-card>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}

.header-card>.mdl-card__menu {
    color: #fff;
}

.mdl-cell--4-col h3 {
    padding: 15px;
    height: 50px;
}