body {
    padding: 20px 0 0;
    background: #fafafa;
    position: relative;
}

.header-card.mdl-card{

    width: 512px;
    margin: 12px auto;
}

.header-card>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}

.header-card>.mdl-card__menu {
    color: #fff;
}

.button-card {
    text-align: center;
    margin: 20px;
}
.button-card button {
    margin: 10px;
}

#reg-dialog {
    width: 300px;
}

.mdl-dialog h4,
.mdl-dialog__actions button  {
    text-align: center;
}