<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK97-iC0DwqUQ13-TyU4jkgHV-5P38nbc&libraries=places"></script>

    <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="mdl-grid">
        <div class="header-card mdl-card mdl-cell mdl-cell--8-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Welcome {{ user.name }} !!
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-typography--text-right" href="/logout">
                        Logout
                    </a></h2>
                
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    Enter the location to check the weather
                </p>
                
                <form method="POST" id="weather" style="text-align: center;">
                    <input class="mdl-textfield__input" type="text" id="location" name="location" placeholder="Enter a place"
                        required>
                    <br>
                    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Get Weather"
                        style="margin: 10px;" id="submit-location">
                </form>
                <div class="weather-info" style="text-align: center;">
        
                </div>
            </div>
        </div>
        <div class="history-card mdl-card mdl-cell mdl-cell--4-col mdl-color-text--grey-600">
            <h3>History</h3>
            <hr>
            <div class="history-details">
                {% for result in history %}
                <div class="mdl-card">
                    <div class="mdl-card__title">
                        {{ result['city'] }} - {{ result['created_at'] }}
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Current Temperature : {{ result['current_temp'] }}, Max temperature : {{ result['temp_max'] }}, Min temperature : {{ result['temp_min'] }} </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        function initialize() {
            var options = {
                types: ['(cities)']
            };
            var place = document.getElementById('location');
            new google.maps.places.Autocomplete(place, options);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        $(document).ready(function () {
            $("#submit-location").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/weather",
                    data: $("#weather").serialize(),
                    success: function (result) {
                        if (result === "fail") {
                            alert("Please input a location");
                        } else if (result === "loggedout") {
                            window.location.href = "/";
                        }
                        console.log(result);
                        // body = JSON.parse(result);
                        $('.weather-info').empty();
                        $('.weather-info').append(`<p>Current Temperature : ${result['current_temp']}</p><p>Max temperature : ${result['temp_max']}</p><p>Min temperature : ${result['temp_min']}</p>`);
                        $('.history-details').append(`
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                ${result['city']} - ${result['created_at']}
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>Current Temperature : ${result['current_temp']}, Max temperature :  ${result['temp_max']}, Min temperature : ${result['temp_min']}</p>
                            </div>
                        </div>`);
                        // $("#sharelink").html(result);
                    }
                });
            });
        });
    </script>
</body>

</html>